<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>index.js</title>
</head>
<body>

  <h1>BREAD (Browse,Read,Edit,Add,Delete)</h1>
  <h2>Filters</h2>

  <div class="container">
    <div class="form-group row">
      <div class="col-sm-2">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          ID
        </label>
      </div>
      <div class="col">
        <input class="form-control" type="text" placeholder="ID" >
      </div>
    </div>
  </div>
  <div class="container">
    <div class="form-group row">
      <div class="col-sm-2">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          String
        </label>
      </div>
      <div class="col">
        <input class="form-control" type="text" placeholder="String">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="form-group row">
      <div class="col-sm-2">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Integer
        </label>
      </div>
      <div class="col">
        <input class="form-control" type="text" placeholder="Integer" >
      </div>
    </div>
  </div>
  <div class="container">
    <div class="form-group row">
      <div class="col-sm-2">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Float
        </label>
      </div>
      <div class="col">
        <input class="form-control" type="text" placeholder="Float">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="form-group row">
      <div class="col-sm-2">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Date
        </label>
      </div>
      <div class="col">
        <input class="form-control" type="date" placeholder="startdate">

        to
        <input class="form-control" type="date">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="form-group row">
    <div class="col-sm-2">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Boolean
      </label>
    </div>
    <div class="col">
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="1">True</option>
        <option value="2">False</option>
      </select>

    </div>
  </div>
</div>
<div class ="container">
  <button type="button" class="btn btn-primary">Search</button>
</div>
<br>
<div class ="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">String</th>
        <th scope="col">Integer</th>
        <th scope="col">Float</th>
        <th scope="col">Date</th>
        <th scope="col">Boolean</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% json.forEach((item, index) => {%>
      <tr>
        <th scope="row"><%= index + 1%></th>
        <td><%= item.string %></td>
        <td><%= item.integer %></td>
        <td><%= item.float %></td>
        <td><%= item.date %></td>
        <td><%= item.boolean %></td>
        <td>
          <a href=""><button type="button" class="btn btn-primary">Edit</button></a>
          <a href="/delete/<%= item.index %>> " type="button" class="btn btn-danger">Delete</button></a>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>
</div>
<div class = "container">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
</div>
<div class ="container">
  <a class="btn btn-primary" href="/AddData" role="button">add</a>
</div>
</br>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
